*{
    
    box-sizing: border-box;
}
html{
    font-size: 1.2 rem;
    height: 100%;
    text-align: justify;
    background-image: url("FONDO\ WEB.jpg");
    
}
body, header, main, footer
{
    /* border: 3px RED solid ; */
    min-height: 60px;
    margin: 1.5rem;
    min-width: 400px
}
body {
    color: rgb(1, 43, 46);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}

header {
    
    /* background-color: rgb(244, 248, 248); */
    box-shadow:0 0 1.5rem rgb (83 78 76 / 50%);
    color: rgb(118, 221, 190);
    /* background-image: url("FONDO\ WEB.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
    max-height: 200px;

}


.Manjares {
margin-left: 200x;    
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    color: aquamarine;

}

footer {
/* 
    background-color: rgb(152, 226, 226); */
    box-shadow:0 0 1.5rem rgb (83 78 76 / 50%);
    /* color: rgb(118, 221, 190); */
    /* background-image: url("FONDO\ WEB.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
    min-height: 300px;
}
    


.main>div {
border: 2px blue solid ;
min-height: 180px;
margin: 1.5rem;
/* height: auto;
float: left;
width: 65%; */
}

.main>aside { 
border: 2px blue solid ;
min-height: 180px;
margin: 1.5rem;
/* min-width: 25%;
float: left;
width: auto;  */
} 

.Seccion1 {
    text-align: center;
    min-height: 50px;
    margin: 1.5rem;
    background-image: none;
    

    
}
.Seccion1 article {
    /* border: 2px purple solid; */
    margin: 1.5rem;
    min-height: 20px;
    background-color: white;
    
}
h4{
    text-align: center;
}

.carrusel{
    display: flex;
    gap: 10px;
}

.carrusel ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carrusel-fotos {
    display: flex;
    gap: 10px;
    overflow: auto;
}



.carrusel-fotos img{
    background: black;
    border:3px solid black ;
    width: 300px; ;
    height: 200px ;
    object-fit: contain;
}

.carrusel-menu {
    display: none;

}

@media screen and (min-width: 500px) {
    .carrusel-fotos{
        overflow: hidden;
    }
    .carrusel-fotos img {
        width: 500px;
        height: 400px;

    }
.carrusel-menu{
    display: block;
}
.carrusel-menu img {
    width: 50px;
    height: 40px;
}
}
    


#gif-ppal {
    min-width: 100%;
    max-height: 400px;
    
}


#Fondo {
    width: 100%;
}

.header-menubar{
width: auto;
display: inline-block;
margin: 1.5rem;
}

.header-menubar {
    left: auto;
    position: relative;
    top: auto;
    width: auto;
    display: inline-block;
    margin: 1.5rem 0 0 1.5rem 1rem;
    font-size: 22px;
    }



.header-menubar ul {
    list-style: none;
}

.header-menubar li {
    float: left;
    font-weight: 700;
    text-align: right;
    margin: 0 0.5rem 0;
}

/* .columna1 {
    position:absolute;
    top:0px;
    left:0px;
    width:200px;
    margin-top:10px;
    background-color:#ffff55;
    }
    .columna2 {
    margin-left:220px;
    margin-right:20px;
    margin-top:10px;
    background-color:#ffffbb;
    } */