* {

    box-sizing: border-box;
}

html {
    font-size: 1.2 rem;
    height: 100%;
    text-align: justify;
    background-image: url("img/FONDOWEB.jpg");

}


body {
    color: rgb(1, 43, 46);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

header {
    display: grid;
    grid-template-rows: 140px 90px 40px;
    height: fit-content;
    align-items: center;
}

.size-logo {
    height: 100px;
    width: 100px;
}

.center {
    text-align: center;
    align-items: center;
}

.Manjares {
    margin-left: 200x;
}

.fondo-texto {
    background-color: rgb(102, 236, 236);
    height: 80px;
}

.titulo {
    font-family: 'Courgette', cursive;
    font-size: 3rem;
    font-weight: 900;
    align-items: center;
    text-align: center;
    color: rgb(3, 58, 40);

}

/*
footer {
    box-shadow: 0 0 1.5rem rgb (83 78 76 / 50%);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
    min-height: 300px;
}
*/
/*
.redes-sociales {

    width: 800px;
    margin-left: 200px;
}
*/
h6 {
    font-family: 'Courgette', cursive;
    font-size: 2rem;
    text-align: center;
    color: rgb(3, 58, 40);
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;

}

.ingredientes {
    display: flex;
    /*width: 710px;*/
    justify-content: center;
}

.corazon img {
    width: 85px;
    height: 85px;
    animation: latido 3s infinite;
}






/*
.main>div {
    border: 2px blue solid;
    min-height: 180px;
    margin: 1.5rem;
}

.main>aside {
    border: 2px blue solid;
    min-height: 180px;
    margin: 1.5rem;
}
*/
.Seccion1 {
    text-align: center;
    min-height: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
}

.fondo {
    background-color: #f0f0f0;
}

.Seccion1 article {
    /* border: 2px purple solid; */
    margin: 1.5rem;
    min-height: 20px;

}

.Seccion1 article div {
    /* border: 2px purple solid; */
    margin: 1.5rem;
    min-height: 20px;

}

h4 {
    text-align: center;
}

.carrusel {
    display: flex;
    gap: 10px;
}

.carrusel ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carrusel-fotos {
    display: flex;
    gap: 10px;
    overflow: auto;
    scroll-behavior: smooth;
    /* Para un desplazamiento suave */
}

.carrusel-fotos img {
    background: black;
    border: 3px solid black;
    width: 300px;
    height: 200px;
    object-fit: contain;
}

.carrusel-menu {
    display: none;
}




#gif-ppal {
    min-width: 100%;
    max-height: 400px;

}


#Fondo {
    width: 100%;
}

.header-menubar {
    width: auto;
    display: flex;
    align-content: center;
    margin: 1.5rem;
}

.header-menubar {
    left: auto;
    position: relative;
    top: auto;
    width: auto;
    display: inline-block;
    margin: 1.5rem 0 0 1.5rem 1rem;
}



.header-menubar ul {
    list-style: none;
}

.header-menubar li {
    float: left;
    font-weight: 700;
    text-align: right;
    margin: 0 0.5rem 0;
}

.fuente-ing {
    font-size: 15px;
    font: bold;
}

/* Estilos para la sección de productos */
.prod {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para el menu de productos */
.menu-prod {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 300px;
    padding: 10px;
    text-align: center;
}

.categorias {
    display: flex;
    justify-content: space-around;
    font: 700;
}

/* Estilos para la grilla de productos */
.grid-prod {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    max-width: 960px;
}

.link {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.link-derecha{
    display: block;
    width: 98%;
    text-align: right;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*estilos para cada producto particular*/
.grid-item {
    background-color: #fff;
    border: 1px solid #ccc;
    height: 350px;
    padding: 5px;
    margin: 10px;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/*tamaño de imagenes de productos*/
.size-img {
    width: 200px;
    height: 200ps;
    border-radius: 5px;
}


/*formulario*/
form {
    width: 400px;
    margin: 0 auto;
}

/*formulario*/
label {
    display: block;
    margin-top: 10px;
}

/*formulario*/
input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/*boton de formulario*/
button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

/*boton de formulario*/
button:hover {
    background-color: #45a049;
}

.formu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
    /*max-width: 85%;*/
    margin-top: 24px;
}

/* Estilos para contacto */
.menu-cont {
    width: 20%;
    padding: 20px;
    /*background-color: #f0f0f0;*/
    text-align: center;
    min-width: 170px;
    height: fit-content;
    font-size: 13px;
}

/* Estilos para la div de formulario */
.grid-form {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    justify-content: space-around;
    padding: 10px;
}


.bordes {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}

.nav-size {
    font-size: 21px;
    margin: 0 20px;
}

.nav {
    display: inline-flex;
    justify-content: space-around;
    /*max-width: 70%;*/
    align-items: center;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #dedbdb;
    padding: 0px 40px 0px;
    opacity: 1;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.footer-cont {
    display: flex;
    flex-direction: column;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section iframe {
    background-color: white;
    border: 2px solid #373937;
    border-radius: 15px;
    width: 150px;
    height: 150px;
}

.footer-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-row p{
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    font-size: 15px;

}




.footer-row svg {
    width: 18px;
    height: 18px;
    margin: 5px;
}


.footer-bottom {
    text-align: center;
    width: 100%;
}

.inicio p {
    font-size: 22px;
    margin-right: 10%;
    margin-left: 10%;
}

.inicio h3 {
    font-size: 30px;
}


/* Estilos para tablet */
@media (min-width: 430px) and (max-width: 757px) {
    .corazon img {
        height: 75px;
        width: 75px;
    }

    .titulo {
        font-size: 2rem;
    }

    header {
        display: grid;
        grid-template-rows: 80px 80px 20px;
        height: 200px;
    }

    .nav-size {
        font-size: 18px;
        margin: 0 15px;
    }
    .footer-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #dedbdb;
        padding: 0px 20px 0px;
        opacity: 1;
    }

}

/* Estilos para celular */
@media (max-width: 430px) {
    .corazon img {
        height: 30px;
        width: 30px;
    }

    .titulo {
        font-size: 1rem;
    }

    header {
        display: grid;
        grid-template-rows: 55px 35px 20px;
        height: 120px;
    }

    .nav-size {
        font-size: 15px;
        margin: 0 5px;
    }

    .grid-form {
        max-width: 250px;
    }

    .menu-cont {
        font-size: 10px;
    }
    .carrusel-fotos {
        overflow: hidden;
    }

    .carrusel-fotos img {
        width: 400px;
        height: 300px;

    }

    .carrusel-menu {
        display: block;
    }

    .carrusel-menu img {
        width: 50px;
        height: 40px;
    }
    .footer-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #dedbdb;
        padding: 0px 20px 0px;
        opacity: 1;
    }
}

@keyframes latido {
    0% {
        transform: scale(1);
        box-shadow: none;
        border-radius: 50%;
    }

    50% {
        transform: scale(1.3);
        box-shadow: 0 0 15px rgba(0, 0, 0, 1);
        border-radius: 50%;
    }

    100% {
        transform: scale(1);
        box-shadow: none;
        border-radius: 50%;
    }
}

